:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Montserrat", sans-serif;
}

.homepage h1 {
  font-weight: normal;
  font-family: var(--heading-font-family);
  font-size: 86px;
}
.homepage p {
  font-size: 36px;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.homepage h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
}

.homepage {
  text-align: center;
  background: var(--secondary-color);
  padding: 160px 20px;
}
.btn-branding {
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding:hover {
  background: var(--branding-color);
  color: #212529;
}
