:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7feda;
  --heading-font-family: "Montserrat", sans-serif;
}
hr {
  color: 0.5px solid black;
  margin: 100px auto;
}

h2 {
  font-size: 42px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}
p {
  letter-spacing: 1.7px;
  font-size: 15px;
  font-stretch: expanded;
  font-family: sans-serif;
  text-decoration: solid;
  font-weight: 500;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  padding: 10px;
}
nav ul {
  margin: 30px 0;
  padding: 0;
}
nav li {
  display: inline;
  margin: 20px;
  list-style: none;
  line-height: 50px;
}
nav a {
  text-decoration: none;
  color: black;
  opacity: 80%;
}
nav a:hover,
nav li.active a {
  color: rgb(250, 152, 152);
  transition: all 200ms ease-in-out;
}
.container-header {
  margin: 0 80px;
}
.logo {
  max-height: 120px;
}
.intro-line {
  background: white;
  margin: 30px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 26px;
}
.freelancer-photo {
  display: block;
  margin: 0 auto;
}
.content-container {
  padding: 80px 20px;
  background: var(--secondary-color);
}

.content-container h1 {
  letter-spacing: 0.25em;
  font-size: 54px;
  line-height: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
  font-weight: 300;
}
.content {
  margin: 30px;
}
.content h1 {
  padding-bottom: 20px;
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}
.content h3 {
  font-size: 21px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}
.content p {
  font-size: 13px;
}
.homepage h1 {
  font-weight: normal;
  font-family: var(--heading-font-family);
  font-size: 86px;
}

.homepage h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 28px;
}

.homepage {
  text-align: center;
  background: var(--secondary-color);
  padding: 160px 20px;
}
.btn-branding {
  background: #958fff;
  color: #212529;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  line-height: 27px;
  padding: 8px 20px;
}
.btn-branding:hover {
  background: #c1bdff;
  color: black;
  box-shadow: 0em 1em 3em 0px rgb(0 0 0 / 15%);
  transition: ease-in-out 300ms;
}

.btn-branding-outline {
  max-width: 140px;
  margin: 0 auto;
  display: block;
  font-family: monospace;
  font-size: 12px;
  border-radius: 10px;
  line-height: 27px;
  padding: 10px 5px;
  color: rgba(0, 0, 0, 0.707);
  background: #9ad7ff;
}
.btn-branding-outline:hover {
  transition: all ease-in-out 300ms;
  color: rgb(255, 152, 152);
  background: #d0ecff;
  box-shadow: 0em 1em 3em 0px rgb(0 0 0 / 15%);
}
.spacing {
  padding-bottom: 50px;
}
.project-description {
  padding: 30px;
  margin-top: 30px;
}

footer {
  text-align: center;
  padding-bottom: 50px;
  margin: 0px auto;
  background: #f9f7feda;
}
.instagram-icon {
  font-size: 32px;
}
.instagram-icon:hover {
  text-decoration: none;
  transition: ease-in-out 250ms;
  font-size: 38px;
  color: rgb(255, 173, 173);
  cursor: pointer;
}

@media (max-width: 980px) {
  .logo {
    max-height: 80px;
  }
  .homepage h1 {
    font-size: 42px;
  }
  .homepage h2 {
    font-size: 18px;
  }
  .container {
    display: inherit;
  }
  .content-container h1 {
    font-size: 40px;
    letter-spacing: 0.1em;
  }
  .content-container {
    padding: 20px;
    text-align: center;
  }
  .content {
    padding-bottom: 20px;
  }
  .content h1 {
    padding: 10px;
  }
  .intro-line {
    font-size: 15px;
  }
  .spacing {
    display: contents;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 14px;
  }
  nav ul {
    display: flex;
    font-size: 13px;
    margin: 1px;
  }
  .container-header {
    margin: 0;
  }
}
